@font-face {
  font-family: Rockwell;
  src: url("../fonts/Rockwell.ttf");
}

@font-face {
  font-family: Rockwell;
  font-weight: bold;
  src: url("../fonts/RockwellBold.ttf");
}

/* line 4, ../sass/core.scss */
body {
  font-family: "Helvetica Neue";
  font-weight: 300;
  font-size: 14px;
}

/* line 11, ../sass/core.scss */
#mainHeader h1 {
  font-family: "Rockwell";
  font-weight: normal;
  font-size: 50px;
}

/* line 19, ../sass/core.scss */
#invitePledgeForm .formItem {
  margin: 20px 0px;
}
/* line 23, ../sass/core.scss */
#invitePledgeForm label {
  display: block;
}

/* line 29, ../sass/core.scss */
#causeInfo {
  border: 1px solid black;
}

/* line 33, ../sass/core.scss */
#mainFooter {
  margin-top: 100px;
}

/* line 37, ../sass/core.scss */
#mainHeader {
  margin-bottom: 100px;
}
