@font-face {
  font-family: Rockwell;
  src: url("../fonts/Rockwell.ttf");
}

@font-face {
  font-family: Rockwell;
  font-weight: bold;
  src: url("../fonts/RockwellBold.ttf");
}

@font-face {
  font-family: Avenir;
  src: url("../fonts/AvenirNext.otf");
}

@font-face {
  font-family: Avenir;
  font-weight: bold;
  src: url("../fonts/AvenirNextBold.otf");
}

@font-face {
  font-family: Avenir;
  font-style: italic;
  src: url("../fonts/AvenirNextItalic.otf");
}

@font-face {
  font-family: Avenir;
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/AvenirNextBoldItalic.otf");
}

/* line 21, ../sass/core.scss */
body {
  font-family: "Avenir", sans-serif;
  font-size: 14px;
}

/* line 26, ../sass/core.scss */
p {
  line-height: 1.5em;
}

/* line 30, ../sass/core.scss */
p.intro {
  font-size: 1.5em;
}

/* line 35, ../sass/core.scss */
#mainHeader h1 {
  font-family: "Rockwell";
  font-weight: normal;
  font-size: 50px;
}

/* line 43, ../sass/core.scss */
#invitePledgeForm .formItem {
  margin: 20px 0px;
}
/* line 47, ../sass/core.scss */
#invitePledgeForm label {
  display: block;
}

/* line 53, ../sass/core.scss */
#causeInfo {
  border: 1px solid black;
}

/* line 57, ../sass/core.scss */
#mainFooter {
  margin-top: 100px;
}

/* line 61, ../sass/core.scss */
#mainHeader {
  margin-bottom: 100px;
}

/* line 65, ../sass/core.scss */
#emailContainer {
  width: 600px;
  border: 1px solid black;
  margin: 100px auto;
  padding: 30px;
  text-align: center;
}
/* line 73, ../sass/core.scss */
#emailContainer .big {
  text-align: center;
}
/* line 77, ../sass/core.scss */
#emailContainer .signature {
  text-align: right;
}
/* line 81, ../sass/core.scss */
#emailContainer #reason {
  text-align: left;
  border: 1px solid black;
  padding: 15px;
  font-size: 1.3em;
}

/* line 88, ../sass/core.scss */
.bigButton {
  display: inline-block;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #8e5000;
  padding: 10px 15px;
  font-size: 30px;
  font-family: "Rockwell";
  text-decoration: none;
  margin: 0px 5px;
  background: orange;
  color: #fff;
  -moz-box-shadow: 0px 2px 5px #aaaaaa;
  -webkit-box-shadow: 0px 2px 5px #aaaaaa;
  -o-box-shadow: 0px 2px 5px #aaaaaa;
  box-shadow: 0px 2px 5px #aaaaaa;
}

/* line 102, ../sass/core.scss */
.bigButtonContainer {
  text-align: center;
  margin: 30px;
}

/* line 107, ../sass/core.scss */
#causeBlurb {
  border: 1px solid black;
  padding: 15px;
}

/* line 111, ../sass/core.scss */
#pitchContainer {
  border: 1px solid black;
  padding: 15px;
  overflow: hidden;
  *zoom: 1;
}
/* line 115, ../sass/core.scss */
#pitchContainer p {
  margin: 0;
  font-size: 24px;
}
/* line 120, ../sass/core.scss */
#pitchContainer .big {
  display: block;
  font-size: 50px;
  line-height: 60px;
  position: relative;
  top: 4px;
}
/* line 128, ../sass/core.scss */
#pitchContainer #pitch1 {
  float: left;
  width: 50%;
  text-align: center;
}
/* line 134, ../sass/core.scss */
#pitchContainer #pitch2 {
  float: right;
  width: 50%;
  text-align: center;
}
