@import "compass/css3";
@import "compass/utilities";

@font-face { font-family: Rockwell; src: url('../fonts/Rockwell.ttf'); }
@font-face { font-family: Rockwell; font-weight: bold; src: url('../fonts/RockwellBold.ttf'); }

@font-face { font-family: Avenir; src: url('../fonts/AvenirNext.otf'); }
@font-face { font-family: Avenir; font-weight: bold; src: url('../fonts/AvenirNextBold.otf'); }
@font-face { font-family: Avenir; font-style: italic; src: url('../fonts/AvenirNextItalic.otf'); }
@font-face { font-family: Avenir; font-weight:bold; font-style: italic; src: url('../fonts/AvenirNextBoldItalic.otf'); }



@mixin insetBox {
	border:1px solid black;
	padding:15px;
}



body {
	font-family:"Avenir", sans-serif;
	font-size:14px;
	margin:0px;
}

p {
	line-height:1.5em;
}

p.intro {
	font-size:1.5em;
}

#mainHeader {
	background:#e8f6f2;

	h1 {
		font-family:"Rockwell";
		font-weight: normal;
		font-size:50px;
	}
}

#invitePledgeForm {
	.formItem {
		margin:20px 0px;
	}

	label {
		display:block;
		
	}
}

#causeInfo {
	border:1px solid black;
}

#mainFooter {
	margin-top:100px;
}

#mainHeader {
	margin-bottom:100px;
}

#emailContainer {
	width:600px;
	border:1px solid black;
	margin:100px auto;
	padding:30px;
	
	text-align: center;
	
	.big {
		text-align:center;
	}
	
	.signature {
		text-align:right;
	}
	
	#reason {
		text-align: left;
		@include insetBox;
		font-size: 1.3em;
	}
}

.bigButton {
	display:inline-block;
	@include border-radius(10px);
	border:2px solid darken(#c16d00, 10%);
	padding:10px 15px;
	font-size:30px;
	font-family:"Rockwell";
	text-decoration: none;
	margin:0px 5px;
	background:orange;
	color:#fff;
	@include box-shadow(0px 2px 5px #aaa);
}

.bigButtonContainer {
	text-align: center;
	margin:30px;
}

#causeBlurb {
	@include insetBox;
}

#pitchContainer {
	@include insetBox;
	@include clearfix;
	
	p {
		margin:0;
		font-size:24px;
	}
	
	.big {
		display:block;
		font-size:50px;
		line-height:60px;
		position: relative;
		top:4px;
	}
	
	#pitch1 {
		float:left;
		width:50%;
		text-align: center;
	}
	
	#pitch2 {
		float:right;
		width:50%;
		text-align: center;
	}
}